{% extends 'repository/repoDetail.html' %}

{% block repo-content %}
    <div class="container" style="padding: 7mm;">
        <div class="row">
            <div class="col">
                <a style="float: right" class="btn btn-success" href="{% url 'create_project' repository.id %}">New project</a>
            </div>
        </div>
    </div>
    <div class="container">
        {% for project in project_list %}
            <div class="card" style="width: 100%" >
                <div class="card-body">
                    <div style="display: flex; height: fit-content" class="row">
                        <div class="col" style="text-align: left;">
                            <h4>
                                <em style="color: darkgreen" class="fas fa-bookmark"></em>&nbsp;&nbsp;
                                <a style="color: darkgreen" href="{% url 'project_details' repository.id project.id %}">{{ project.name }}</a>
                            </h4>
                        </div>
                        <div class="col" style="text-align: right">
                            <a href="{% url 'project_update' repository.id project.id %}">Edit</a>&nbsp;&nbsp;
                            <a style="color: red" href="{% url 'project_delete' repository.id project.id %}">Delete</a>
                        </div>
                    </div>
                </div>
            </div> <br>
        {% endfor %}
    </div>

{% endblock %}
