{% extends "welcome.html" %}

{% block stuff %}
<div class="container">
    {% load crispy_forms_tags %}
        <div class="row justify-content-md-center">
        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}
        </div>
        <div class="row justify-content-md-center">
        <form method="post" action="{% url 'login' %}" class="col-sm-6">
            {% csrf_token %}

            <div class="row">
                <div class="col">
                    {{ form.username|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form.password|as_crispy_field }}
                </div>
            </div>
            {% if form.errors %}
                <p class="row-form-errors">Your username and password didn't match. Please try again.</p>
            {% endif %}
            <input class="btn btn-primary m-3" type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        </div>
</div>

{% endblock %}
