{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section" style="width: 60%; margin: auto">
    <br><br>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group" style="text-align: center">
                <button class="btn btn-outline-success" style="text-align: center" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock content %}