{% extends "home.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block stuff %}

    <style>
        .profile-pic{
              height: 125px;
              width: 125px;
              margin-right: 20px;
              margin-bottom: 16px;
              border-radius: 50%;
        }
    </style>

    <br>

    <div class="content-section container-fluid">
        <div class="row">

          <div class="media col-md-3">
            <img class="rounded-circle profile-pic" src="{{ request.user.siteuser.profile_img.url }}">
            <div class="media-body">
              <h2 class="account-heading">{{ request.user.username }}</h2>
              <p class="text-secondary">{{ request.user.email }}</p>
                <button  onclick="location.href='{% url 'password-reset' %}'" class=" btn btn-outline-success"> Reset password</button>

                <div class="media-body">
                    <br>
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{p_form | crispy}}
                    <br>
                        <button class="btn btn-outline-success" type="submit" >Update profile</button>
                    </form>
                </div>
            </div>

          </div>
            <div class="col-md-9" >
               {% block profile-half %}
               {% endblock profile-half %}
            </div>

        </div>

    </div>




{% endblock %}
