{% extends "base.html" %}


{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">

		<ul class="navbar-nav mr-auto">
        {% if not request.user.is_authenticated %}
            <li class="navbar brand"><strong class="text-success">GITHUB CLONE</strong>
        </li>
        {% endif %}
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">Home</a>
          </li>
            {% if request.user %}
              <li class="nav-item" >
                <a class="nav-link" href="{{request.user.siteuser.get_absolute_url}}">My profile</a>
              </li>
            {% endif %}
          <li class="nav-item" >
            <a class="nav-link" href="{% url 'all-user-issues' %}">Issues</a>
          </li>
        {% endif %}
        </ul>
        <ul class="navbar-nav mr-2 items-right">
            {% if request.user.is_authenticated %}
            <li class="nav-item" >
                <a class="nav-link " href="{% url 'logout' %}">Log out</a>
            </li>
            {% endif %}
            {% if not request.user.is_authenticated %}
            <li class="nav-item" >
                <a class="nav-link " href="{% url 'login' %}">Log in</a>
            </li>
            {% endif %}
        </ul>
	</nav>

    {% block dashboard %}
    {% endblock %}

{% endblock %}
