{% extends "base.html" %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Log in</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
        </ul>
         <form action="{% url 'search_results' %}" method="get">
              <input name="q" type="text" placeholder="Search...">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
	</nav>

    {% block stuff %}
        <div class="container">
            <div class="row justify-content-md-center">
                <p>
                    Welcome! Please <a href="{% url 'login' %}"> log in</a>,
                    or if you dont have account you can register <a href="{% url 'register' %}">here</a>.
                </p>
            </div>
        </div>
    {% endblock %}

{% endblock %}

