{% extends "base.html" %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Log in</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
        </ul>
	</nav>

    {% block stuff %}
        Welcome to our little site. Please log in, if you dont have account you can register here.
    {% endblock %}

{% endblock %}

