{% extends 'repoDetail.html' %}

{% block repo-content %}

    <table class="table table-hover">
        <thead>
            <th scope="col">Status</th>
            <th scope="col">Title</th>
            <th scope="col">Created by</th>
        </thead>
        <tbody>
            {% for issue in object_list %}
                <tr>
                    <td>{{ issue.issue_status.title }}</td>
                    <td><a href="{% url 'issue_details' repository.id issue.id %}">{{ issue.title }}</a></td>
                    <td>{{ user.username }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
