{% extends "user/dashboard.html" %}

{% block repoDetail %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Repository {{repository.name}}</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Code <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Issues</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pull requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Projects</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Wiki</a>
      </li>
    </ul>
  </div>
</nav>
<div>
  <p>Test</p>
</div>
{% endblock %}