{% extends "home.html" %}
{% block dashboard %}
    <div class="content-section" >
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group" style="text-align: center">
                <br>
                <h5>Are you sure you want to delete the branch "{{ object.name }}"?</h5>
            </fieldset>
            <div class="form-group" style="text-align: center">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'branch_delete' object.repository.id object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock dashboard %}