{% extends 'repository/repoDetail.html' %}

{% block repo-content %}
    {% if object_list %}
        <br>
        <div class="container">
            {% for branch in object_list %}
                <div class="card" style="width: 100%" >
                    <div class="card-body">
                        <div style="display: flex; height: fit-content" class="row">
                            <div class="col" style="text-align: left;">
                                <a href="#" class="text-success">  {{ branch.name }} </a>
                            </div>
                            <div class="col" style="text-align: right">
                                <a style="cursor: pointer"><i class="far fa-edit"></i></a>&nbsp;&nbsp;
                                <a style="color: red; cursor: pointer" data-toggle="modal" data-target="#{{ branch.id }}"><i class="far fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div> <br>
                <div class="modal fade" id="{{ branch.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <h5>Are you sure that you want to delete branch {{ branch.name }}? </h5>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                          <form action="{% url 'branch_delete' repository.id branch.id %}" method="post" style="display: inline">
                              {% csrf_token %}
                              <input type="hidden" name="branch_id" value="{{ branch.id }}">
                              <button type="submit" class="btn btn-success">Delete</button>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <br>
        <h5>There are no branches for current repository</h5>
    {% endif %}
{% endblock %}

