{% extends 'repository/repoDetail.html' %}

{% block repo-content %}
    <div class="container" style="padding: 7mm;">
        <div class="row">
            <div class="col">
                <a style="float: right" class="btn btn-success" href="{% url 'create_milestone' repository.id %}">New milestone</a>
            </div>
        </div>
    </div>
    <div class="container">
        {% for milestone in milestone_list %}
            <div class="card" style="width: 100%" >
                <div class="card-body">
                    <div style="display: flex; height: fit-content" class="row">
                        <div class="col" style="text-align: left;">
                            <h4>
                                <em class="fas fa-map-signs"></em>&nbsp;&nbsp;
                                <a href="{% url 'milestone_details' repository.id milestone.id %}">{{ milestone.title }}</a>
                                {% if milestone.closed %}
                                    <span class="badge badge-pill badge-secondary">Closed</span>
                                {% else %}
                                    <span style="font-size: small" class="badge badge-pill badge-success">Open</span>
                                {% endif %}
                            </h4>
                        </div>
                        <div class="col" style="vertical-align: center">
                            <div class="progress" style="vertical-align: center">
                                <div class="progress-bar bg-success" role="progressbar" style="width: {{ milestone.get_completed_percentage }}%" aria-valuenow="{{ milestone.getCompletedPercentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p style="float: left; color: dimgray">{{ milestone.get_closed_issues_count }} of {{ milestone.get_issue_count }} issues completed</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: left;">
                            <em>Due by: {{ milestone.dueDate }}</em>&nbsp;&nbsp;&nbsp;&nbsp;
                            <em>Last updated: {{ milestone.dateUpdated }}</em>
                        </div>
                        <div class="col" style="text-align: left">
                            <a href="{% url 'milestone_update' repository.id milestone.id %}">Edit</a>&nbsp;&nbsp;
                            <a href="{% url 'milestone_close' repository.id milestone.id %}">
                                {% if milestone.closed %}Reopen{% else %}Close{% endif %}</a>&nbsp;&nbsp;
                            <a href="{% url 'milestone_delete' repository.id milestone.id %}" style="color: red">Delete</a>
                        </div>
                    </div>

                </div>
            </div> <br>
        {% endfor %}
    </div>
{% endblock %}
