{% extends 'repository/repoDetail.html' %}
{% block repo-content %}
{#    <h6>This is overview</h6>#}
{#    {% for branch in branches %}#}
{#        <p> {{ branch.name }}</p>#}
{#    {% endfor %}#}
    <div class="container">
    <br>
        <div class="row" style="width: 100%; height: 30px">
            <div class="col-md-3" style="text-align: left" >
                <div class="btn-group">
                      <button id="button" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" id="dropdownMenu2" aria-expanded="false">
                          {{ branch.name }}
                      </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2" >
                          <br>
                          <input id="search_here" type="text" class="form-control" placeholder="Search..." style="width: 75%; margin: auto; ">
                          <em class="fas fa-search text-success" style="position: fixed; margin-left: 80%; margin-top: -9%;"></em>
                          <br>
                          <div id="box" style="height: auto; max-height: 400px; width: 300px; overflow-x: hidden">
                              {% for item in branches %}
                                  <a id="{{ item.name }}"  style="cursor: pointer;" class="dropdown-item" onclick="update(id)" href="{% url 'branch-detail' repository.id item.id %}" >{{ item }}</a>
                              {% endfor %}
                          </div>
                      </div>
                </div>
            </div>
         &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                <div class="col-md-6 align-text-bottom" style="text-align: left; height: 100%">
                     <a  class="text-success"  style="cursor: pointer; position:absolute; margin-top: 2%" href="{% url 'branch_list' repository.id %}">{{ branches|length}} branches</a>
                     <a class="text-success" style="position:absolute; margin-top: 2%; margin-left: 100pt" href="{% url 'repository_tags' repository.id %}">{{tags|length}} tags</a>
                </div>

        </div>
    <br>
        <div class="row">
            {% include 'branch/branch_detail.html' with branch=branch commits=commits page_obj=page_obj%}
        </div>
    </div>
{% endblock %}

{% block scripts %}

<script>
    const data = '{{qs_json}}'
    console.log(data)

    const rdata = JSON.parse(data.replace(/&quot;/g, '"'))
    console.log(rdata)

    const input = document.getElementById('search_here')
    console.log(input)

    //const box = document.getElementById('box')
    //console.log(box)

    let filteredArr = []

    input.addEventListener('keyup', (e)=>{
        box.innerHTML = ""
        filteredArr = rdata.filter(info=> info.name.includes(e.target.value))
        console.log(filteredArr)
        if (filteredArr.length > 0){
            filteredArr.map(info=>{
                id = info.id
                box.innerHTML += `<a id="${ info.name }"  style="margin-left: 5px; cursor: pointer;" class="dropdown-item;" onclick="update(id)" href="/repository/{{ repository.id }}/branch/${info.id}/"  >${ info.name }</a><br>`
            })
        } else {
            box.innerHTML = "<b>No results found...</b>"
        }
        console.log(box)
    })


    function update(id){

        button = document.getElementById('button')
        button.textContent = id
    }
</script>
{% endblock %}

