{% extends "repository/repoDetail.html" %}

{% block repo-content %}
    <br>
    <div class="row" style="margin-left: 133pt">
        <div class="col-2">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action" href="{% url 'commit-statistics' repository.id %}">Commits</a>
            </div>
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action" href="{% url 'milestone-statistics' repository.id %}">Milestones</a>
            </div>
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action" href="{% url 'issue-statistics' repository.id %}">Issues</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content m-2" id="nav-tabContent">
                {% block statistics %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
