{% extends "home.html" %}
{% load crispy_forms_tags %}

{% block dashboard %}
    <div class="container-fluid" style="width: 80%">
    <div class="row">
        <div class="col-md-4" style="text-align: center" >
            <br><br>
            <h5>Repositories &nbsp; &nbsp;
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#repoDialog">Add new repository</button>
            </h5>
            <br>

            <ul class="list-group list-group-flush" style="align-self: center">
                {% for repository in repositories %}
                        <li class="list-group-item"><a class="text text-success font-weight-bold"  href="{% url 'detail' repository.id %}">{{ repository.name }}</a></li>
                {% endfor %}
            </ul>

        </div>
        <div class="col-md-8" style="text-align: center"  >
            {% block repoDetail %}
                <br>
                <h4>Recent activity</h4>
                <br>
                {% if history|length == 0 %}
                    <p style="font-style: italic">User has no activity!</p>
                {% endif %}
                <div style="text-align: start; margin-left: 5%">
                    {% for item in history %}
                        <div class="card" >
                            <div class="card-body">
                                {% if item.changed_wiki_object %}
                                    <div class="card-text" >
                                        <div style="float:left">{{ item.belongsTo.username }} &nbsp;{{ item.message }} <a href="{{ item.changed_wiki_object.get_absolute_url }}">wiki page</a></div>
                                        <em style="float: right">{{  item.get_time_of_change}}</em>
                                    </div>
                                {% elif item.changed_repo_object %}
                                    <div class="card-text" >
                                        <div style="float:left">{{ item.belongsTo.username }} &nbsp;{{ item.message }} <a href="{{ item.changed_repo_object.get_absolute_url }}">repository</a></div>
                                        <em style="float: right">{{  item.get_time_of_change}}</em>
                                    </div>
                                {% else %}
                                    <div class="card-text" >
                                        <div style="float:left">{{ item.belongsTo.username }} &nbsp;{{ item.message }}</div>
                                        <em style="float: right">{{  item.get_time_of_change}}</em>
                                    </div>
                                {% endif %}

                            </div>
                        </div> <br>
                    {% endfor %}
                </div>
            {% endblock %}
        </div>
    </div>
</div>
{# Modal dialog for adding a new repository #}
<div class="modal fade" id="repoDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">New repository</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <form method="post" action="{% url 'add' %}">
            <div class="modal-body">
                 {% csrf_token %}
                        {{ form | crispy }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
       </form>
    </div>
  </div>
</div>

{% endblock %}


