{% extends "home.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block dashboard %}

    <style>
        .profile-pic{
              height: 125px;
              width: 125px;
              margin-right: 20px;
              margin-bottom: 16px;
              border-radius: 50%;
        }
    </style>

    <br>

    <div class="content-section container-fluid">
        <div class="row">

          <div class="media col-md-3">
            <img class="rounded-circle profile-pic" src="{{ user.profile_img.url }}" alt="Profile picture">
            <div class="media-body">
              <h2 class="account-heading">{{ user.user.username }}</h2>
              <p class="text-secondary">{{ user.user.email }}</p>

                {% if p_form is not None %}
                    <button  onclick="location.href='{% url 'password-reset' %}'" class=" btn btn-outline-success"> Reset password</button>
                {% endif %}

                <div class="media-body">
                    <br>
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{p_form | crispy}}
                    <br>
                        {% if p_form is not None %}
                            <button class="btn btn-outline-success" type="submit" >Update profile</button>
                        {% endif %}
                    </form>
                </div>
            </div>
          </div>
          <div class="col-md-9" >
                <div class="card text-center">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                          <li class="nav-item" style="color: green">
                            <a  class="nav-link text-success active"  id="repo-tab" data-toggle="tab" href="#repos" role="tab" aria-controls="One" aria-selected="true" >Repositories</a>
                          </li>
                          <li class="nav-item" >
                            <a  class="nav-link text-success" id="issue-tab" data-toggle="tab" href="#issues" role="tab" aria-controls="Two" aria-selected="false" >Issues</a>
                          </li>
                        </ul>
                    </div>
                    <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active p-3" id="repos" role="tabpanel" aria-labelledby="repo-tab">
                                    {% if repos|length == 0 %}
                                         <h5>There are no repositories!</h5>
                                    {% endif %}
                                    {% for repo in repos %}
                                        <div class="card" >
                                          <div class="card-body">
                                            <a class="card-title" href="{% url 'detail' repo.id %}">{{ repo.name }}</a>
                                            <p class="card-text">{{ repo.description }}</p>
                                          </div>
                                        </div> <br>
                                    {% endfor %}
                            </div>
                            <div class="tab-pane fade p-3" id="issues" role="tabpanel" aria-labelledby="issue-tab">
                                   {% if issues|length == 0 %}
                                         <h5>There are no issues added by this user!</h5>
                                    {% endif %}
                                         <table class="table table-hover">
                                             <caption>Issues created by you</caption>
                                             <colgroup>
                                                 <col style="width: 20%">
                                                 <col style="width: 20%">
                                                 <col style="width: 60%">
                                             </colgroup>
                                             <thead>
                                                <th scope="col">Repository</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Title</th>
                                                </thead>
                                                <tbody>
                                                {% for issue in issues %}
                                                    <tr>
                                                        <td style="vertical-align: center">{{ issue.repository.name }}</td>
                                                        <td style="vertical-align: center">{{ issue.issue_status.title }}</td>
                                                        <td style="text-align: start">
                                                            <div>
                                                            {% if issue.closed %}
                                                                <span class="badge badge-pill badge-secondary">Closed</span>
                                                            {% else %}
                                                                <span style="font-size: small" class="badge badge-pill badge-success">Open</span>
                                                            {% endif %}
                                                            <a href="{{ issue.get_absolute_url }}">{{ issue.title }}</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody
                                         </table>
                            </div>
                    </div>

         </div>

        </div>

    </div>

    </div>


{% endblock %}
